stages:
  - static_code_analysis
  - tests
  - build
  - deploy

workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_IID'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH || $CI_COMMIT_TAG'

variables:
  TEST_WITH_LATEST_DEPENDENCIES: "false"
  STATIC_ANALYSIS_WITH_LATEST_DEPENDENCIES: "false"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: recursive
  PACKAGES_TO_CHECK: "package/test_tools/ tests/"
  # colors:
  TXT_BLUE: "\e[1;34m"
  TXT_CLEAR: "\e[0m"

  CI_BASE_IMAGE_TAG: ":2fc9d83726a4fddc681c2b30fbd67701316ba85a"
  CI_BASE_IMAGE: "registry.gitlab.syncad.com/hive/common-ci-configuration/ci-base-image${CI_BASE_IMAGE_TAG}"


include:
  - project: 'hive/common-ci-configuration'
    ref: 2fc9d83726a4fddc681c2b30fbd67701316ba85a
    file: '/templates/python_projects.gitlab-ci.yml'


image: "${CI_BASE_IMAGE}"

default:
  tags:
    - public-runner-docker


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| STATIC CODE ANALYSIS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

pre_commit_checks:
  stage: static_code_analysis
  extends:
    - .pre_commit_checks_template
  before_script:
    - !reference [.pre_commit_checks_template, before_script]
    - !reference [.update_deps_for_static_analysis, script]

lint_code_with_ruff:
  stage: static_code_analysis
  extends:
    - .lint_code_with_ruff_template
  before_script:
    - !reference [.lint_code_with_ruff_template, before_script]
    - !reference [.update_deps_for_static_analysis, script]

formatting_with_ruff_check:
  stage: static_code_analysis
  extends:
    - .project_develop_configuration_template
  before_script:
    - !reference [.project_develop_configuration_template, before_script]
    - !reference [.update_deps_for_static_analysis, script]
  script:
    - echo -e "${TXT_BLUE}Checking code formatting with Ruff...${TXT_CLEAR}" &&
      ruff format --check --diff ${PACKAGES_TO_CHECK}

type_check_with_mypy:
  stage: static_code_analysis
  extends:
    - .type_check_with_mypy_template
  before_script:
    - !reference [.type_check_with_mypy_template, before_script]
    - !reference [.update_deps_for_static_analysis, script]


#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| STATIC CODE ANALYSIS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| TESTS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

unit_tests_launch:
  stage: tests
  extends:
    - .project_develop_configuration_template
  before_script:
    - !reference [.project_develop_configuration_template, before_script]
    - !reference [.update_deps_for_tests, script]
  needs: []  # to start immediately, without waiting for previous stages
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.12", "3.14"]
  script:
    - echo -e "${TXT_BLUE}Launch unit tests${TXT_CLEAR}" &&
      pytest -n auto -m "not requires_hived_executables" --junitxml=report.xml tests/unit_tests
  artifacts:
    reports:
      junit: report.xml

test_hived_handle:
  stage: tests
  needs:
    job:
      unit_tests_launch
  extends:
    - .project_develop_configuration_template
  before_script:
    - !reference [.project_develop_configuration_template, before_script]
    - !reference [.update_deps_for_tests, script]
  variables:
    HIVED_HTTP_ENDPOINT: "https://api.hive.blog/"
  script:
    - if [ -z "${HIVED_HTTP_ENDPOINT}" ]; then HIVED_HTTP_ENDPOINT=""; else HIVED_HTTP_ENDPOINT="--hived-http-endpoint=${HIVED_HTTP_ENDPOINT}"; fi
    - echo -e "${TXT_BLUE}Launching tests...${TXT_CLEAR}"
    - cd tests/hived_handle_tests
    - python3 -m pytest -n auto --durations 0 --junitxml=${CI_PROJECT_DIR}/report.xml ${HIVED_HTTP_ENDPOINT}
    - echo -e "${TXT_BLUE}Tests succesfully...${TXT_CLEAR}"
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: $CI_PROJECT_DIR/report.xml

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| TESTS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| BUILD |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

build_wheel:
  stage: build
  extends:
    - .build_wheel_template

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| BUILD |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| DEPLOY |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

deploy_wheel_to_gitlab:
  stage: deploy
  extends: .deploy_wheel_to_gitlab_template
  needs:
    - job: pre_commit_checks
    - job: unit_tests_launch
    - job: test_hived_handle
    - job: build_wheel
      artifacts: true
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| DEPLOY |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
