stages:
  - static_code_analysis
  - tests
  - build
  - deploy

workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_IID'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH || $CI_COMMIT_TAG'

variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: recursive
  PACKAGES_TO_CHECK: "package/test_tools/ tests/"
  # colors:
  TXT_BLUE: "\e[1;34m"
  TXT_CLEAR: "\e[0m"

  PYTHON_IMAGE_312: "registry.gitlab.syncad.com/hive/hive/ci-base-image:ubuntu24.04-3"
  PYTHON_IMAGE_314: "registry.gitlab.syncad.com/hive/hive/ci-base-image:ubuntu24.04-py3.14-1"

  # Default Python image
  PYTHON_IMAGE: $PYTHON_IMAGE_314


include:
  - project: 'hive/common-ci-configuration'
    ref: 1f2247a35b7115a316cbb2283242ab4669928c69
    file: '/templates/python_projects.gitlab-ci.yml'


image: "${PYTHON_IMAGE}"

default:
  tags:
    - public-runner-docker


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| STATIC CODE ANALYSIS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

pre_commit_checks:
  stage: static_code_analysis
  extends:
    - .pre_commit_checks_template

lint_code_with_ruff:
  stage: static_code_analysis
  extends:
    - .lint_code_with_ruff_template

formatting_with_black_check:
  stage: static_code_analysis
  extends:
    - .formatting_with_black_check_template

type_check_with_mypy:
  stage: static_code_analysis
  extends:
    - .type_check_with_mypy_template


#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| STATIC CODE ANALYSIS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| TESTS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

unit_tests_launch:
  stage: tests
  extends:
    - .project_develop_configuration_template
  needs: []  # to start immediately, without waiting for previous stages
  image: ${PYTHON_IMAGE}
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.12", "3.14"]
  rules:
    - if: $PYTHON_VERSION == "3.12"
      variables:
        PYTHON_IMAGE: "${PYTHON_IMAGE_312}"
    - if: $PYTHON_VERSION == "3.14"
      variables:
        PYTHON_IMAGE: "${PYTHON_IMAGE_314}"
  script:
    - echo -e "${TXT_BLUE}Launch unit tests${TXT_CLEAR}" &&
      pytest -n auto -m "not requires_hived_executables" --junitxml=report.xml tests/unit_tests
  artifacts:
    reports:
      junit: report.xml

test_hived_handle:
  stage: tests
  needs:
    job:
      unit_tests_launch
  extends:
    - .project_develop_configuration_template
  variables:
    HIVED_HTTP_ENDPOINT: "https://api.hive.blog/"
  script:
    - if [ -z "${HIVED_HTTP_ENDPOINT}" ]; then HIVED_HTTP_ENDPOINT=""; else HIVED_HTTP_ENDPOINT="--hived-http-endpoint=${HIVED_HTTP_ENDPOINT}"; fi
    - echo -e "${TXT_BLUE}Launching tests...${TXT_CLEAR}"
    - cd tests/hived_handle_tests
    - python3 -m pytest -n auto --durations 0 --junitxml=${CI_PROJECT_DIR}/report.xml ${HIVED_HTTP_ENDPOINT}
    - echo -e "${TXT_BLUE}Tests succesfully...${TXT_CLEAR}"
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: $CI_PROJECT_DIR/report.xml

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| TESTS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| BUILD |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

build_wheel:
  stage: build
  extends:
    - .build_wheel_template

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| BUILD |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| DEPLOY |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

deploy_wheel_to_gitlab:
  stage: deploy
  extends: .deploy_wheel_to_gitlab_template
  needs:
    - job: pre_commit_checks
    - job: unit_tests_launch
    - job: test_hived_handle
    - job: build_wheel
      artifacts: true
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| DEPLOY |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
