repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args: [ "--autofix" ]
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.3
    hooks:
      - id: poetry-lock
        name: checking if poetry.lock is consistent with pyproject.toml
        language_version: python3.14
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.6.5'
    hooks:
      - id: ruff
        name: linting code with Ruff
        args: [ "--fix" ]
      - id: ruff-format
        name: format code using Ruff
  - repo: local
    hooks:
    - id: mypy
      name: type check with mypy
      entry: mypy
      language: system
      types: [ python ]
